name: cross_file_example
description: Demonstrates how to use cross_file.
publish_to: none

environment:
  sdk: ^3.8.0

dependencies:
  cross_file:
    path: ..

  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

