name: video_player_for_web_integration_tests
publish_to: none

environment:
  sdk: ^3.4.0
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  video_player_platform_interface: ^6.1.0
  video_player_web:
    path: ../
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

# FOR TESTING AND INITIAL REVIEW ONLY. DO NOT MERGE.
# See https://github.com/flutter/flutter/blob/master/docs/ecosystem/contributing/README.md#changing-federated-plugins
dependency_overrides:
  {
    video_player_platform_interface:
      {
        path: ../../../../packages/video_player/video_player_platform_interface,
      },
  }
