name: vector_graphics
description: A vector graphics rendering package for Flutter.
version: 0.0.4
homepage: https://github.com/dnfield/vector_graphics

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  vector_graphics_codec: ^0.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# # Comment out before publishing
# dependency_overrides:
#   vector_graphics_codec:
#     path: ../vector_graphics_codec

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:
