.DS_Store
.atom/
.idea
.dart_tool/
.packages
.pub/
Podfile.lock
Pods/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
pubspec.lock
packages/sentry/build/
packages/sentry/android/
packages/sentry/ios/
