name: go_router_builder
description: >-
  A builder that supports generated strongly-typed route helpers for
  package:go_router
version: 2.7.2
repository: https://github.com/flutter/packages/tree/main/packages/go_router_builder
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+go_router_builder%22

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.0"

dependencies:
  analyzer: ">=6.9.0 <8.0.0"
  async: ^2.8.0
  build: ^2.0.0
  build_config: ^1.0.0
  collection: ^1.14.0
  meta: ^1.7.0
  path: ^1.8.0
  source_gen: ">=1.4.0 <3.0.0"
  source_helper: ^1.3.4

dev_dependencies:
  build_test: ^2.1.7
  dart_style: '>=2.3.7 <4.0.0'
  flutter:
    sdk: flutter
  go_router: ^14.0.0
  leak_tracker_flutter_testing: ">=3.0.0"
  package_config: ^2.1.1
  pub_semver: ^2.1.5
  test: ^1.20.0

topics:
  - codegen
  - deep-linking
  - go-router
  - navigation
