name: file_selector_macos
description: macOS implementation of the file_selector plugin.
repository: https://github.com/flutter/packages/tree/main/packages/file_selector/file_selector_macos
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+file_selector%22
version: 0.9.3

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

flutter:
  plugin:
    implements: file_selector
    platforms:
      macos:
        dartPluginClass: FileSelectorMacOS
        pluginClass: FileSelectorPlugin

dependencies:
  cross_file: ^0.3.1
  file_selector_platform_interface: ^2.6.0
  flutter:
    sdk: flutter

dev_dependencies:
  build_runner: ^2.3.2
  flutter_test:
    sdk: flutter
  mockito: 5.4.1
  pigeon: ^9.2.4
