name: webview_flutter_android
description: A Flutter plugin that provides a WebView widget on Android.
repository: https://github.com/flutter/packages/tree/main/packages/webview_flutter/webview_flutter_android
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+webview%22
version: 3.16.0

publish_to: none  # Add this line

environment:
  sdk: ^3.1.0
  flutter: ">=3.13.0"

flutter:
  plugin:
    implements: webview_flutter
    platforms:
      android:
        package: io.flutter.plugins.webviewflutter
        pluginClass: WebViewFlutterPlugin
        dartPluginClass: AndroidWebViewPlatform

dependencies:
  flutter:
    sdk: flutter
  webview_flutter_platform_interface:
    git:
      url: https://github.com/Sinishisimus/packages.git
      ref: ea35686763ffb715a290ca03f4c8645f41df316e
      path: packages/webview_flutter/webview_flutter_platform_interface

dev_dependencies:
  build_runner: ^2.1.4
  flutter_test:
    sdk: flutter
  mockito: 5.4.4
  pigeon: ^11.0.0

topics:
  - html
  - webview
  - webview-flutter