name: go_router_builder_example
description: go_router_builder examples
publish_to: none

environment:
  sdk: ^3.2.0

dependencies:
  collection: ^1.15.0
  flutter:
    sdk: flutter
  go_router: ^14.1.1
  provider: 6.0.5

dev_dependencies:
  build_runner: ^2.3.0
  build_verify: ^3.1.0
  flutter_test:
    sdk: flutter
  go_router_builder:
    path: ..
  test: ^1.17.0

flutter:
  uses-material-design: true
