name: go_router_builder_example
description: go_router_builder examples
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  go_router: ^6.0.0
  provider: ^6.0.0

dev_dependencies:
  build_runner: ^2.0.0
  build_verify: ^3.0.0
  flutter_test:
    sdk: flutter
  go_router_builder:
    path: ..
  test: ^1.17.0

flutter:
  uses-material-design: true
