name: flutter_markdown
description: A Markdown renderer for Flutter. Create rich text output,
  including text styles, tables, links, and more, from plain text data
  formatted with simple Markdown tags.
repository: https://github.com/flutter/packages/tree/master/packages/flutter_markdown
version: 0.6.3

dependencies:
  flutter:
    sdk: flutter
  markdown: ^4.0.0
  meta: ^1.3.0
  path: ^1.8.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"
