name: regular_integration_tests
publish_to: none

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  build_runner: ^2.1.1
  flutter_test:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  integration_test:
    sdk: flutter
  mockito: 5.4.1
  url_launcher_platform_interface: ^2.0.3
  url_launcher_web:
    path: ../
