name: b133471
version: 1.0.0+1
publish_to: none
description: A new Flutter project.
environment: 
  sdk: '>=3.0.6 <4.0.0'
dependencies: 
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  flutter_image: ^4.1.7
dev_dependencies: 
  flutter_lints: ^2.0.0
  flutter_test: 
    sdk: flutter
flutter: 
  uses-material-design: true
