name: google_maps_flutter_web
description: Web platform implementation of google_maps_flutter
repository: https://github.com/flutter/packages/tree/main/packages/google_maps_flutter/google_maps_flutter_web
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+maps%22
version: 0.5.12

environment:
  sdk: ^3.4.0
  flutter: '>=3.22.0'

flutter:
  plugin:
    implements: google_maps_flutter
    platforms:
      web:
        pluginClass: GoogleMapsPlugin
        fileName: google_maps_flutter_web.dart

dependencies:
  collection: ^1.16.0
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  google_maps: ^8.0.0
  google_maps_flutter_platform_interface: ^2.10.0
  sanitize_html: ^2.0.0
  stream_transform: ^2.0.0
  web: '>=0.5.1 <2.0.0'

dev_dependencies:
  flutter_test:
    sdk: flutter

topics:
  - google-maps
  - google-maps-flutter
  - map

# The example deliberately includes limited-use secrets.
false_secrets:
  - /example/web/index.html

# FOR TESTING AND INITIAL REVIEW ONLY. DO NOT MERGE.
# See https://github.com/flutter/flutter/blob/master/docs/ecosystem/contributing/README.md#changing-federated-plugins
dependency_overrides:
  {
    google_maps_flutter_platform_interface:
      {
        path: ../../../packages/google_maps_flutter/google_maps_flutter_platform_interface,
      },
  }
