name: alternate_language_test_plugin_example
description: Pigeon test harness for alternate plugin languages.
publish_to: 'none'

environment:
  sdk: ^3.7.0

dependencies:
  alternate_language_test_plugin:
    path: ../
  flutter:
    sdk: flutter
  shared_test_plugin_code:
    path: ../../shared_test_plugin_code

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
