name: shared_test_plugin_code
description: Common code for test_plugin and alternate_language_test_plugin
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.9.0
  flutter: ">=3.35.0"

dependencies:
  build_runner: ^2.1.10
  ffi: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffi
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  flutter:
    sdk: flutter
  # These are normal dependencies rather than dev_dependencies because the
  # package exports the integration test code to be shared by the integration
  # tests for the two plugins.
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  jni: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/jni
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  mockito: ^5.4.4
  objective_c: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/objective_c
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232

dev_dependencies:
  leak_tracker: any

dependency_overrides:
  ffi: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffi
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  ffigen: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffigen
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  objective_c: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/objective_c
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  swift2objc: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/swift2objc
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232