name: pointer_interceptor_web_example
description: "Demonstrates how to use the pointer_interceptor_web plugin."
publish_to: 'none'

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.0"

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  pointer_interceptor_platform_interface: ^0.10.0
  pointer_interceptor_web:
    path: ../../pointer_interceptor_web
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true

