name: pigeon
description: Code generator tool to make communication between Flutter and the host platform type-safe and easier.
repository: https://github.com/flutter/packages/tree/main/packages/pigeon
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+pigeon%22
version: 26.1.2 # This must match the version in lib/src/generator_tools.dart

environment:
  sdk: ^3.8.0

dependencies:
  analyzer: ">=8.0.0 <10.0.0"
  args: ^2.1.0
  code_builder: ^4.10.0
  collection: ^1.15.0
  dart_style: ^3.0.0
  graphs: ^2.3.1
  meta: ^1.9.0
  path: ^1.8.0
  pub_semver: ^2.1.4
  yaml: ^3.1.1

dev_dependencies:
  test: ^1.11.1

topics:
  - codegen
  - interop
  - platform-channels
  - plugin-development
