name: vector_graphics_codec
description: An encoding library for the binary format used in `package:vector_graphics`
repository: https://github.com/flutter/packages/tree/main/packages/vector_graphics_codec
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+vector_graphics%22
version: 1.1.13

environment:
  sdk: ^3.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  meta: ^1.15.0
  test: ^1.25.0

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

topics:
  - svg
  - vector-graphics
