name: google_maps_flutter_ios
description: iOS implementation of the google_maps_flutter plugin.
repository: https://github.com/flutter/packages/tree/main/packages/google_maps_flutter/google_maps_flutter_ios
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+maps%22
version: 2.13.2

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

flutter:
  plugin:
    implements: google_maps_flutter
    platforms:
      ios:
        pluginClass: FLTGoogleMapsPlugin
        dartPluginClass: GoogleMapsFlutterIOS

dependencies:
  flutter:
    sdk: flutter
  google_maps_flutter_platform_interface: ^2.9.5
  stream_transform: ^2.0.0

dev_dependencies:
  async: ^2.5.0
  build_runner: ^2.4.11
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  pigeon: ^22.4.2
  plugin_platform_interface: ^2.1.7

topics:
  - google-maps
  - google-maps-flutter
  - map
