name: test_plugin_example
description: Pigeon test harness for primary plugin languages.
publish_to: 'none'

environment:
  sdk: ^3.9.0

dependencies:
  ffi: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffi
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  ffigen: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffigen
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  flutter:
    sdk: flutter
  jni: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/jni
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  jnigen: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/jnigen
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  pub_semver: ^2.2.0
  shared_test_plugin_code:
    path: ../../shared_test_plugin_code
  swiftgen: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/swiftgen
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  test_plugin:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  logging: ^1.3.0
  swift2objc: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/swift2objc
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232

flutter:
  uses-material-design: true

dependency_overrides:
  ffi: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffi
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  ffigen: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/ffigen
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  objective_c: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/objective_c
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232
  swift2objc: 
    git:
      url: https://github.com/dart-lang/native/
      path: pkgs/swift2objc
      ref: b45b6aede5e8d0cb32a06fc62c49093dc3cf6232