name: test_plugin_example
description: Pigeon test harness for primary plugin languages.
publish_to: 'none'

environment:
  sdk: ^3.9.0

dependencies:
  ffi: ^2.1.4
  ffigen: ^19.1.0
  flutter:
    sdk: flutter
  jni: ^0.15.2
  jnigen: ^0.15.0
  pub_semver: ^2.2.0
  shared_test_plugin_code:
    path: ../../shared_test_plugin_code
  swiftgen: ^0.1.1
  test_plugin:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  logging: ^1.3.0
  swift2objc: ^0.1.0

flutter:
  uses-material-design: true

dependency_overrides:
  ffigen: ^20.0.0
  objective_c: ^9.2.0