name: "Sync Release to Main"

on:
  push:
    branches:
      - 'release' 

jobs:
  create_sync_pr:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          # Fetch all history for all branches
          fetch-depth: 0

      - name: Create Sync Pull Request
        run: |
          gh pr create \
            --base main \
            --head release \
            --title "Sync release branch to main" \
            --body "This automated PR syncs the changes from the release branch back to the main branch."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}